<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Banking Fraud Detection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static\css\index.css">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
  </head>
  <body >
 
    <nav class="navbar navbar-expand-lg" id="mer">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="jer">
            <li class="nav-item">
             <a href="/"> <lord-icon
              src="https://cdn.lordicon.com/wmwqvixz.json"
              trigger="hover"
              colors="primary:#6c16c7"
              style="width:4rem;height:4rem" >
          </lord-icon></a>
</li>
<li class="nav-item">
  <a href="/rules"><lord-icon
              src="https://cdn.lordicon.com/mjcariee.json"
              trigger="hover"
              colors="primary:#6c16c7"
              style="width:4rem;height:4rem">
          </lord-icon></a>
            </li>
           
            <!-- <li class="nav-item">
              <a href="/about">   <lord-icon
                src="https://cdn.lordicon.com/jnzhohhs.json"
                trigger="hover"
                colors="primary:#6c16c7"
                style="width:4rem;height:4rem">
            </lord-icon></a></li> -->
            <li class="nav-item">
              <a href="/graph">   <lord-icon
                src="https://cdn.lordicon.com/uwinmnkh.json"
                trigger="morph"
                colors="primary:#6c16c7"
                state="morph-analytics-1"
                style="width:4rem;height:4rem">
            </lord-icon></a></li>
          </ul>
         
        </div>
      </div>
    </nav><br><br>
    <h1 id="kar"><center>WELCOME</center></h1>
    <div  class="container" id="home">
      <span id="sp"><h1><center>Counterfeiting Detection Of Banking Using Machine 
        Learning
      </center></h1><br><br><span id="sp1">
      The proliferation of digital transactions in banking has led to an increase in 
        fraudulent activities, posing significant challenges for financial institutions. 
        To combat this, machine learning techniques have emerged as effective tools 
        for fraud detection. The proposed approach involves the utilization of historical 
        transaction data to train machine learning models capable of identifying fraudulent 
        patterns. Various algorithms such as logistic regression, decision trees, random 
        forests and support vector machines, are explored for their effectiveness in detecting
        fraudulent transactions. Feature engineering techniques are employed to extract 
        relevant information from transaction data, enhancing the models' predictive capabilities.</span>
      </span>
  <div class="container">
    <div class="screen">
      <div class="screen__content">
        <form class="login">
          <div class="login__field">
          </div>
          <div class="d-grid gap-5">
          <a href="/predict"><button type="button" class="btn btn-outline-dark btn-lg"  id="btn1">Make Predictions</button></a>
          <a href="/rules"><button type="button" class="btn btn-outline-dark btn-lg" id="btn1">Bank Safety Measures</button></a>
        </div>
        </form>
      </div>
      <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>		
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
      </div>		
    </div>
  </div>
</div></div><br><br>
<nav class="navbar navbar-expand-lg" id="mer1">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="jer1">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-disabled="true" ></a>
        </li>
      </ul>
      </form>
    </div>
  </div>
</nav>
</body>
</html>